ion-content {
  form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    ion-list {
      --border-color: transparent;
      margin-top: 30px;
      ion-item{
        display: block;
        margin: auto;
        padding: 0 5%;
        --box-shadow: 0 0 5px 2px #e8e8e8;
        margin-top: 20px;
        margin-bottom: 15px;
        ion-icon{
          margin: 0px;
          color:#757575;
        }
        ion-input {
          margin-left: 3%;
          --border-color: transparent;
          border-left: 1px solid #C2C3C5;
          --padding-start: 14px;
          height: 48px;
        }
      }
    }
  }
}