<ion-header>
  <ion-toolbar mode='ios' class="modal-toolbar">
    <ion-buttons>
      <ion-title>Reset password</ion-title>
      <ion-button class='close' mode='ios' (click) = 'dismiss()'>
        <ion-icon class='close' ios="md-close" md="md-close" slot='icon-only'></ion-icon>
      </ion-button>
      <ion-button  [disabled]='!readyToSubmit' class='readySubmit' mode='ios' (click)='ForgetPwd()'>Submit</ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='forgotPassword'>
    <form [formGroup]="resetform">
      <ion-list>
          <ion-item mode='md' class='item-input' [ngClass]="{'error-input': emailValidation && (resetform.get('email').hasError('pattern') && (resetform.get('email').dirty || resetform.get('email').touched)) }">
              <ion-icon class="email" slot='start'></ion-icon>
              <ion-input #emailInput (ionFocus)='setEmailValidation(false)' (ionBlur)='setEmailValidation(true)' (ionChange)='checkValidation()' mode='md' type='email' minlength='6' [(ngModel)]="email" placeholder='Email Address' formControlName="email" name="email" ></ion-input>
            </ion-item>
            
            <div class="validation-errors" *ngIf='emailValidation'>
              <ng-container *ngFor="let validation of resetmessages.email">
                <div class="error-message"
                  *ngIf="resetform.get('email').hasError(validation.type) && (resetform.get('email').dirty || resetform.get('email').touched)">
                  <ion-icon class='error'></ion-icon>
                  <ion-label>{{ validation.message }}</ion-label>
                </div>
              </ng-container>
            </div>
      </ion-list>
    </form>
  </div>
</ion-content>
