<ion-content>
  <div class="completed">
    <img src= 'assets/icons/logoAlone.svg' />
    <ion-label *ngIf='completed'><b>Web Scan </b>is completed</ion-label>
    <ion-label *ngIf='!completed'><b>Web Scan </b>is in Process</ion-label>
  </div>
  <div class="img">
    <img src= 'assets/imgs/scanning.svg' />
  </div>
  <div #results class="results"></div>
  <div class="footer">
    <div *ngIf='status.started && !status.process' mode='ios'>
      <ion-label>{{ tempResult?.monitor }} {{ tempResult?.status }}</ion-label>
    </div>
    <div #temp class='process' mode='ios' *ngIf='status.process'>
      <ion-label>{{ tempResult?.monitor }} </ion-label>
      <ion-label class='fade-in-right' *ngIf="tempResult.status === 'Started'"> Connected</ion-label>
      <ion-label class='fade-in-right' *ngIf="tempResult.status === 'in Progress'"> {{ tempResult?.status }} ... </ion-label>
      <ion-label class='fade-in-right' *ngIf="tempResult.status === 'Finished'"> {{ tempResult?.status }}</ion-label>
      <!-- <ion-label class='fade-in-right' *ngIf = 'tempResult?.result'> ... {{ tempResult?.result }}</ion-label> -->
    </div>
  </div>
</ion-content>


