<ion-content>
  <div class="completed">
    <img src= 'assets/icons/logoAlone.svg' />
    <ion-label *ngIf='completed'><b>Web Scan </b>is completed</ion-label>
    <ion-label *ngIf='!completed'><b>Web Scan </b>is in Process</ion-label>
  </div>
  <div class="img">
    <img src= 'assets/imgs/scanning.svg' />
  </div>
  <!-- <div class="process">
    <img src="assets/icons/loading.gif" alt="">
    <ion-label>{{ percentage }}% completed ...</ion-label>
  </div> -->
  <ion-slides #slides mode="ios" class='process' [options]='slideOpts'>
    <ion-slide #individuals *ngFor='let item of pushes'>{{ item }}</ion-slide>
  </ion-slides>
</ion-content>


