<ion-card style="height: 407px">
  <div style="height: 94px; padding: 20px;">
    <ion-skeleton-text animated></ion-skeleton-text>
  </div>
  <ion-list style="margin-top: 50px;">
    <ion-item style="--border-color: transparent;">
        <ion-skeleton-text animated style="height: 80%;"></ion-skeleton-text>
    </ion-item>
    <ion-item style="--border-color: transparent;">
        <ion-skeleton-text animated style="height: 80%;"></ion-skeleton-text>
    </ion-item>
    <ion-item style="--border-color: transparent;">
        <ion-skeleton-text animated style="height: 80%;"></ion-skeleton-text>
    </ion-item>
    <ion-item style="--border-color: transparent;">
        <ion-skeleton-text animated style="height: 80%;"></ion-skeleton-text>
    </ion-item>
    <ion-item style="--border-color: transparent;"> 
        <ion-skeleton-text animated style="height: 80%;"></ion-skeleton-text>
    </ion-item>
    <ion-item style="--border-color: transparent;">
        <ion-skeleton-text animated style="height: 80%;"></ion-skeleton-text>
    </ion-item>
  </ion-list>
</ion-card>

<ion-card style="height: 407px">
    <div style="height: 94px; padding: 20px;">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
    <ion-list style="margin-top: 50px;">
      <ion-item style="--border-color: transparent;">
          <ion-skeleton-text animated style="height: 80%;"></ion-skeleton-text>
      </ion-item>
      <ion-item style="--border-color: transparent;">
          <ion-skeleton-text animated style="height: 80%;"></ion-skeleton-text>
      </ion-item>
      <ion-item style="--border-color: transparent;">
          <ion-skeleton-text animated style="height: 80%;"></ion-skeleton-text>
      </ion-item>
      <ion-item style="--border-color: transparent;">
          <ion-skeleton-text animated style="height: 80%;"></ion-skeleton-text>
      </ion-item>
      <ion-item style="--border-color: transparent;"> 
          <ion-skeleton-text animated style="height: 80%;"></ion-skeleton-text>
      </ion-item>
      <ion-item style="--border-color: transparent;">
          <ion-skeleton-text animated style="height: 80%;"></ion-skeleton-text>
      </ion-item>
    </ion-list>
</ion-card>