
<div  id="paystatus" class='c-content' *ngIf='details'>
  <ion-label class="c-bigfnt">£{{ details.bigprc }}.<span class="c-smallfnt">{{ details.smallprc }}</span></ion-label>
  <ion-label class="c-norfnt">will be taken on {{ details.next_payment_date }}</ion-label>
  <ion-icon class='c-paypal'></ion-icon>
  <ion-label class="c-norfnt" style='margin-top: 15px'>{{ details.name }} Plan<a (click)='changePlan()'>change</a></ion-label>
  <div class="lastpay">
    <ion-label>Last payment:</ion-label>
    <ion-label>{{ details.payment_date }} -  £{{ details.lastpaymentAmount }}</ion-label>
    <ion-button mode='md' expand='block' class="c-greenButton red" (click)='openInvoice()'>
      <ion-icon class="c-receipt" slot="start"></ion-icon>
      <ion-label> Receipt</ion-label>
    </ion-button>
  </div>
  <div class="c-btmdiv">
      <ion-icon class='c-cancel-membership'></ion-icon>
      <ion-label (click)='cancelMemebership()'> Cancel your membership</ion-label>
  </div>
</div>
