<ion-content>
  <div class = "content">
    <div class = "logo" id="logo">
      <img src="assets/imgs/sub_logo.svg" alt="">
    </div>
    <div class="verify-content">
      <ion-label class="pageName">Verify Your Email</ion-label>
      <div [class]="beforeVerified">
        <ion-label class="description">We have sent an email to verify your <br /> email address to complete the signup <br />process
        </ion-label>
      </div>
      <div [class]="afterVerified">
          <ion-label class="description">{{message}}</ion-label>
      </div>
      <ion-button class="red submit" (click)="login()">Log In</ion-button>
      <ion-label class="resend" [class]="beforeVerified">Didn"t you receive email? <b (click)="resendVerificationEmail()">Resend</b></ion-label>
    </div>
  </div>
</ion-content>

