<div class="filterType">
    <ion-card class="positive" mode='ios' (click) = 'changeFiterType(1)' [ngClass] = '{ "selected": filterType && showData }'>
      <ion-skeleton-text animated *ngIf = '!showData'></ion-skeleton-text>
      <div class="positive-div" *ngIf = 'showData'>
        <ion-icon class="factor-activated">
        </ion-icon>
        <div class='notification-div' *ngIf='positiveData?.length > 0' >{{ positiveData?.length }}</div>
      </div>
      <ion-label class="positive-label" *ngIf = 'showData'>Positive Factor</ion-label>
    </ion-card>
    <ion-card class="negative" mode='ios' (click) = 'changeFiterType(0)' [ngClass] = '{ "selected": !filterType && showData }'>
      <ion-skeleton-text animated *ngIf = '!showData'></ion-skeleton-text>
      <div class="negative-div" *ngIf = 'showData'>
        <ion-icon class="factor-activated"></ion-icon>
        <div class='notification-div' *ngIf='negativeData?.length > 0' >{{ negativeData?.length }}</div>
      </div>
      <ion-label class="negative-label" *ngIf = 'showData'>Negative Factor</ion-label>
    </ion-card>
  </div>
<ion-list mode = 'ios'>
  <mat-accordion *ngIf = 'showData'>
    <mat-expansion-panel *ngFor="let item of showData">
      <mat-expansion-panel-header [collapsedHeight]="'65px'" [expandedHeight]="'65px'">
        <ion-label>{{ item.title }}</ion-label>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <ion-label>{{ item.description }}</ion-label>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</ion-list>


 <!-- skeleton -->
<ion-list mode='ios' style='margin-top: 40px'  *ngIf = '!showData'>
  <ion-item>
    <ion-skeleton-text animated style='height: 40px'></ion-skeleton-text>
  </ion-item>
  <ion-item style='margin-top: 20px'>
    <ion-skeleton-text animated style='height: 40px'></ion-skeleton-text>
  </ion-item>
  <ion-item style='margin-top: 20px'>
    <ion-skeleton-text animated style='height: 40px'></ion-skeleton-text>
  </ion-item>
  <ion-item style='margin-top: 20px'>
    <ion-skeleton-text animated style='height: 40px'></ion-skeleton-text>
  </ion-item>
</ion-list>
