<ion-content mode="md">
  <div class = "content">
    <div class = "logo">
      <img src="assets/imgs/logo.svg" alt="" class="slide-in-fwd-bottom">
    </div>
    <div class = "picture" id="represent">
      <img src="assets/imgs/middle.svg" alt="" class="fade-in-bck">
      <ion-label>Relax and let us notify you if anything<br/> should happen to your website</ion-label>
    </div>
    <div class = "btn-options">
      <ion-button  size="large" class="signup scale-in-hor-center" (click)="openSignUp()">Create Account</ion-button>
      <ion-button   size="large" class="login scale-in-hor-center" (click)="gotoLogIn()">Log In</ion-button>
    </div>
  </div>
</ion-content>
  