ion-content { 
  div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .logo{
      padding-top: 10%;
      .image {
        display: flex;
        justify-content: center;
        img {
          max-width: 70%;
        }
      }
      .description {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 16px;
      }
    }
    ion-list {
      margin-top: 30px;
      ion-item{
        display: block;
        margin: auto;
        padding: 0 5%;
        --box-shadow: 0 0 5px 2px #e8e8e8;
        margin-top: 20px;
        margin-bottom: 15px;
        ion-icon{
          margin: 0px;
          color:#757575;
        }
        ion-input {
          margin-left: 3%;
          --border-color: transparent;
          border-left: 1px solid #C2C3C5;
          --padding-start: 14px;
          height: 48px;
        }  
      }
      .error-message {
        padding-top: 0px !important;
      }
    }
  }
}