<ion-list mode='ios' >
  <ion-card mode='ios' >
    <ion-card-header >
        <ion-skeleton-text animated></ion-skeleton-text>
    </ion-card-header>
    <ion-card-content>
        <ion-skeleton-text animated></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
  <ion-card mode='ios' >
    <ion-card-header >
        <ion-skeleton-text animated></ion-skeleton-text>
    </ion-card-header>
    <ion-card-content>
        <ion-skeleton-text animated></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
  <ion-card mode='ios' >
    <ion-card-header >
        <ion-skeleton-text animated></ion-skeleton-text>
    </ion-card-header>
    <ion-card-content>
        <ion-skeleton-text animated></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</ion-list>
