ion-header {
  &.underHeader {
    ion-segment {
      --min-height: 50px !important;
      width: 67%;
      ion-segment-button {
        min-height: 48px;
        --color: gray;
        --color-checked: white;
        --indicator-color-checked: #a586fd !important;
        ion-label {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    ion-button.red {
      &.manual-scan {
        right: 0;
      }
      position: absolute;
      top: 0;
      display: block;
      bottom: 0;
      width: 25% !important;
      --border-radius: 5px !important;
      font-size: 17px;
      padding: 10px 0px;
    }
  }
}
ion-content {
  --padding-bottom: 40px;
}