ion-header {
  ion-button {
    z-index: 1;
    &.back {
      position: absolute;
      left: 0;
    }
  }
}
ion-content {
  --padding-start: 5%;
  --padding-end: 5%;
    ion-list {
      ion-card{
        margin: 24px 0px;
        --background: white;
        ion-card-header{
          display: flex;
          justify-content: space-between;
          font-size: 17px;
          --color: white;
          padding: 14px 18px;
          &.starter{
            background-image: linear-gradient(to right,#fda259,#ff7a26);
          }
          &.small-business{
            background-image: linear-gradient(to right,#ff9c44,#fe588f);
          }
          &.entrepreneur{
            background-image: linear-gradient(to right,#52c1fb,#4ba4e7);
          }
          &.pro{
            background-image: linear-gradient(to right,#00b6bf,#02c7d1);
          }
        }
        ion-card-content{
          padding: 35px 18px;
          min-height: 130px;
          &.extra {
            padding: 15px 9px;
          }
          .popular {
            --background: #ded8fe;
            --color: #9b8bed;
            border-radius: 8px;
            border: 1px solid #9b8bed;
            padding-top: 0px;
            padding-bottom: 0px;
            font-size: 12px;
            height: 25px;
            width: 70px;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
          }
          .description{
            font-size: 13px;
            font-weight: 550;
          }
          .current-plan{
            display: flex;
            align-items: center;
            position: absolute;
            top: 12px;
            right: 10px;
            font-size: 14px;
            font-weight: 550;
            color: #68cf6d;
            ion-label {
              padding-left: 3px;
            }
          }
          .chip {
            position: absolute;
            bottom: 30px;
            right: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            &.starter {
              background-image: linear-gradient(to right top,#fda259,#ff7a26);
            }
            &.small {
              background-image: linear-gradient(to right top,#fe588f, #ff9c44);
            }
            &.entrepreneur {
              background-image: linear-gradient(to right top,#4ba4e7,#52c1fb);
            }
            &.pro-site {
              background-image: linear-gradient(to right top,#02c7d1,#00b6bf);
            }
          }
        }
      }
      ion-button.restore{
        --border-radius: 30px;
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 60%;
        height: 45px;
        --background: #c7a6ff;
        --background-activated: #caabff;
        --background-focused: #caabff;
        --background-hover: #caabff;
        --color: white;
        --color-activated: white;
        font-weight: bold;
        text-transform: none;
      }
    }
}

