
ion-card {
  &.priority {
    margin: 24px 16px !important;
  }
  ion-list {
    ion-list-header {
      text-transform: none;
      font-size: 18px;
      font-weight: bold;
    }
    ion-item {
      --min-height: 52px;
      --padding-start: 20px;
      --padding-end: 20px;
      &:last-child {
        --border-color: transparent;
      }
      ion-label {
        &.title {
          font-size: 14px;
          min-width: 55%;
          font-weight: bold !important;
        }
        &.status {
          font-size: 13px;
          text-align: center;
          font-weight: 100 !important;
          white-space: unset;
        }
      }
    }
  }
}