<app-skeleton-security *ngIf = '!securityData'></app-skeleton-security>
<ion-card class='priority' *ngIf = 'securityData' [ngClass]='{ "negative": securityData?.status === "UNSECURE", "positive": securityData?.status === "VIRUS FREE" }'>
  <ion-card-header>
    <ion-label class='upperletter'>SITE IS {{ securityData?.status }}</ion-label>
  </ion-card-header>
  <ion-card-content>
    <ion-icon class="d-virusfree" *ngIf = 'securityData?.status === "VIRUS FREE"'></ion-icon>
    <ion-icon class="d-virusdetected" *ngIf = 'securityData?.status === "UNSECURE"'></ion-icon>
  </ion-card-content>
</ion-card>
<ion-card mode='ios' *ngIf = 'securityData'>
  <ion-list>
    <ion-list-header>Scan Date: {{ securityData?.date | datetime }}</ion-list-header>
    <ion-item *ngFor="let item of securityData?.security_details">
      <ion-label class="title">{{ item.description }}</ion-label>
      <ion-label class="status" *ngIf = 'item.category !== "malware" && item.category !== "blacklist-status"'>{{ item.status }}</ion-label>
      <ion-icon class="s-danger" *ngIf=' item.alertlevel === 0'></ion-icon>
      <ion-icon class="s-warning" *ngIf=' item.alertlevel === 1'></ion-icon>
      <ion-icon class="s-safe" *ngIf=' item.alertlevel === 2'></ion-icon>
    </ion-item>
  </ion-list>
</ion-card>




