<ion-header>
  <ion-toolbar mode="ios" class="modal-toolbar">
    <ion-buttons>
      <ion-title>Thank you!</ion-title>
      <ion-button class="close" mode="ios" (click)="dismiss()">
        <ion-icon class="close" ios="md-close" md="md-close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="thankyou">
    <ion-label class="header">Thank you for your feedback. </ion-label>
    <ion-label class="wlcmdiv">
      Thank you for your feedback. We appreciate your time and we honestly value your opinions.So we"ll use the information provided to do just that.
    </ion-label>
  </div>
</ion-content>
