.thankyou {
  width: 86%;
  margin: auto;
  display: block;
  text-align: center;
  .header {
    padding-top: 10%;
    padding-bottom: 7%;
    display: block;
    font-size: 18px;
    font-weight: bold;
  }
  .wlcmdiv {
    display: block;
    font-size: 15px;
  }
}