<ion-header>
  <ion-toolbar mode='ios' class="modal-toolbar">
    <ion-buttons>
      <ion-title>Check your e-mail!</ion-title>
      <ion-button class='close' mode='ios' (click) = 'dismiss()'>
        <ion-icon class='close' ios="md-close" md="md-close" slot='icon-only'></ion-icon>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    We have just sent an email message. Inside that message is a link you can change your password. The message should show up in a few seconds. If it doesn't then check the spam or junk folder
  </ion-label>
</ion-content>
