ion-content { 
  div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .logo{
      padding: 50px 30px 0px 30px;
      .image {
        display: flex;
        justify-content: center;
      }
      .description {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 16px;
      }
    }
    ion-list {
      margin-top: 30px;
      padding-bottom: 10px;
      ion-item{
        display: block;
        margin: auto;
        width: 90%;
        box-shadow: 0 0 5px 3px #e8e8e8;
        height: 48px;
        --border-color: transparent;
        margin-top: 20px;
        margin-bottom: 10px;
        --border-width: 0px;
        --highlight-height: 0px;
        --border-activated: transparent;
        border: 0.5px solid #C2C3C5;
        border-radius: 30px;
        ion-icon{
          margin: 0px;
          color:#757575;
        }
        ion-input {
          margin-left: 3%;
          --border-color: transparent;
          border-left: 1px solid #C2C3C5;
          --padding-start: 14px;
          height: 48px;
          &.domainUrl  {
            ion-label {
              padding-left: 14px;
            }
            --padding-start: 0px;
          }
        }    
      }
      .error-message {
        // padding-top: 0px !important;
      }
      ion-button.submit {
        width: 50%;
        height: 53px;
        font-size: 19px;
        margin:auto;
        display: block;
        --border-radius: 30px;
        text-transform: none;
        margin-top: 30px;
      }
    }
  }
}