<ion-header class="small-header">
  <ion-toolbar mode="md" class="toolbar">
    <ion-buttons>
      <ion-title>Site</ion-title>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content">
    <ion-row class="logo">
      <ion-col size="3" class="image">
        <img src="assets/icons/magnifier.svg">
      </ion-col>
      <ion-col size="9" class="description">
        <ion-label>Hello! to get started, just add your site details below</ion-label>
      </ion-col>
    </ion-row>
    <form [formGroup]="domainAddForm" (ngSubmit)="ValidateDomain()">
      <ion-list mode="ios" >
        <ion-item mode="md" [disabled]="duringSubmit" [ngClass]="{'error-input': validateDomainUrl && (domainAddForm.get('domainUrl').hasError('pattern') && (domainAddForm.get('domainUrl').dirty || domainAddForm.get('domainUrl').touched)) }">
          <ion-icon slot="start" class="domainUrl"></ion-icon>
          <ion-input  #urlInput class="domainUrl" mode="md" type="text" placeholder="yourdomain.com" formControlName="domainUrl" name="domainUrl" [(ngModel)]="domname" (ionFocus)="setDomainUrlValidation(false)" (ionBlur)="setDomainUrlValidation(true)" ><ion-label>www.</ion-label></ion-input>
        </ion-item>
        <div class="validation-errors" *ngIf="validateDomainUrl">
          <ng-container *ngFor="let validation of validationMessages.domainUrl">
            <div class="error-message"
              *ngIf="domainAddForm.get('domainUrl').hasError(validation.type) && (domainAddForm.get('domainUrl').dirty || domainAddForm.get('domainUrl').touched)">
              <ion-icon class="error"></ion-icon>
              <ion-label>{{ validation.message }}</ion-label>
            </div>
          </ng-container>
        </div>
        <div class="validation-errors" *ngIf="duplicatedDomain">
          <ng-container>
            <div class="error-message">
              <ion-icon class="error"></ion-icon>
              <ion-label>This Domain Name Already Exists</ion-label>
            </div>
          </ng-container>
        </div>
        <ion-item  mode="md" [disabled]="duringSubmit" [ngClass]="{'error-input': validateDomainName && (domainAddForm.get('domainName').hasError('minlength')) }">
          <ion-icon slot="start" class="domainName"></ion-icon>
          <ion-input mode="md" type="text" placeholder="site name" formControlName="domainName" name="domainName" [(ngModel)]="compname" (ionFocus)="setDomainNameValidation(false)" (ionBlur)="setDomainNameValidation(true)"></ion-input>
        </ion-item>
        <div class="validation-errors" *ngIf="validateDomainName">
          <ng-container *ngFor="let validation of validationMessages.domainName">
            <div class="error-message"
              *ngIf="domainAddForm.get('domainName').hasError(validation.type)">
              <ion-icon class="error"></ion-icon>
              <ion-label>{{ validation.message }}</ion-label>
            </div>
          </ng-container>
        </div>
        <ion-button [disabled] = "duringSubmit" mode="md" class="red submit"  size="large" type="submit">
          <ion-label *ngIf="!duringSubmit">Add Site</ion-label>
          <ion-spinner name="lines-small" *ngIf="duringSubmit"></ion-spinner>
        </ion-button>
      </ion-list>
    </form>
  </div>
</ion-content>
