<ion-header class="small-header">
  <ion-toolbar class="toolbar" mode="md">
    <ion-buttons>
      <ion-button *ngIf="!newUser" mode="md" class="back" (click) = "goback()">
        <ion-icon class="back" name="arrow-back" mode="ios" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-title>Select Plan</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="plansList">
    <ion-list mode="ios">
      <ion-card mode="ios" *ngFor="let item of plansList, let i=index" class="plan{{item.id}}" (click)="selectPlan(item.id, item.name, item.price)">
        <ion-card-header [ngClass]="{'starter': item.id == 1, 'small-business': item.id == 2, 'entrepreneur': item.id == 3, 'pro': item.id == 4}">
          <ion-label class="title" *ngIf="item.name === 'Starter'"><b>Starter Plan</b></ion-label>
          <ion-label class="title" *ngIf="item.name !== 'Starter'"><b>{{ item.name }}</b></ion-label>
          <ion-label class="price" *ngIf="item.id != 1"><b>£{{ item.price }}</b><small> per month</small></ion-label>
          <ion-label class="price" *ngIf="item.id == 1"><b>Free</b></ion-label>
        </ion-card-header>
        <ion-card-content [ngClass]="{ 'extra': item.id == 3 }">
          <div class="right-part" [ngSwitch]="item.id">
            <div class="chip starter" *ngSwitchCase="1">
              <ion-icon class="starter"></ion-icon>
            </div>
            <div class="chip small" *ngSwitchCase="2">
              <ion-icon class="small"></ion-icon>
            </div>
            <div class="chip entrepreneur" *ngSwitchCase="3">
              <ion-icon class="entrepreneur"></ion-icon>
            </div>
            <div class="chip pro-site" *ngSwitchCase="4">
              <ion-icon class="pro-site"></ion-icon>
            </div>
          </div>
          <ion-chip class="popular" *ngIf="item.id == 3">
            <ion-label>Popular</ion-label>
          </ion-chip>
          <ion-row>
            <div class="current-plan" *ngIf="item.id == subscriptionID">
                <ion-icon class="currentplan-icon"></ion-icon>
                <ion-label>Current Plan</ion-label>
            </div>
            <ion-col size="9" class="description">
              {{ item.shortdesc }}
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-button *ngIf="plansList && plat === 'ios'" mode="md" class="restore-btn restore" size="default"  (click)="restore()" >Restore</ion-button>
    </ion-list>
</ion-content>
