ion-card {
	padding-top: 20px;
	padding-bottom: 20px;
	ion-label {
		text-overflow: unset !important;
        white-space: unset !important;
		&.date {
			font-size: 16px;
			font-weight: bold;
			display: block;
			text-align: center;
		}
		&.title {
			min-width: 70%;
			font-size: 14px;
			font-weight: bold;
		}
		&.value {
			font-size: 14px;
			display: block;
			text-align: right;
		}
	}
	ion-list {
		ion-item {
			--padding-end: 5%;
			--min-height: 54px;
			ion-icon {
				color: #FF3F3F;
			}
			&:last-child {
				--border-color: transparent;
			}
		}
	}
}