ion-header {
  ion-toolbar {
    ion-button {
      position: absolute;
      z-index: 1;
      &.menu {
        right: 0;
      }
      &.back {
        left: 0;
      }
    }
  }
}

ion-content {
 
    mat-expansion-panel {
      display: block;
      width: 94%;
      margin: auto;
      margin-top: 20px !important;
      margin-bottom: 10px !important;
      box-shadow: 1px 0px 5px rgb(195, 194, 194) !important;
      border-radius: 15px !important;
      mat-expansion-panel-header {
        border-radius: 15px !important;
        display: flex;
        align-items: center;
      }
      mat-panel-description {
        flex-direction: column;
        margin-bottom: 10px !important;
      }
    }
  
}